GNBTrades.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GNBTrades.xcodeproj/project.xcworkspace/xcuserdata/Criss.xcuserdatad/UserInterfaceState.xcuserstate
GNBTrades.xcodeproj/xcuserdata/Criss.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
GNBTrades.xcodeproj/xcuserdata/Criss.xcuserdatad/xcschemes/xcschememanagement.plist
